<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}/{% if page.title %}{{ page.title }} {% endif %}
    </title>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="/"><font size="15" color="black">~</font></a>
          <nav>
            <a href="{{ site.baseurl }}/about">~/about</a>
            <a href="{{ site.baseurl }}/">~/blog</a>
            <a href="https://github.com/kvmanohar22">~/github</a>
            <a href="https://www.linkedin.com/in/kvmanohar22/">~/linkedin</a>
            <a href="mailto:kvmanohar22@gmail.com">~/mail</a>
          </nav>
        </header>
      </div>
    </div>
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    {% include analytics.html %}
  </body>
</html>
