<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}/{% if page.title %}{{ page.title }} {% endif %}
    </title>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="/"><font size="225" color="black">~</font></a>
          <nav>
            <a href="{{ site.baseurl }}/about"><font size="5" color="black">~</font>/about</a>
            <a href="https://github.com/kvmanohar22"><font size="5" color="black">~</font>/github</a>
            <a href="mailto:kvmanohar22@gmail.com"><font size="5" color="black">~</font>/mail</a>
            <a href="{{ site.baseurl }}/pubs"><font size="5" color="black">~</font>/publications</a>
            <!-- <a href="{{ site.baseurl }}/summary"><font size="5" color="black">~</font>/summary</a> -->
          </nav>
        </header>
      </div>
    </div>
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    {% include analytics.html %}
  </body>
</html>
